/* select.form-contact.style-1 {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;               
  padding: 16px 14px;             
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #333;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  transition: border-color 0.2s ease;
  line-height: 1.5;
}

select.form-contact.style-1:focus {
  border-color: rgb(237, 32, 39);
} */
